body {
  height: 100vh;
}

main {
  background-color: aquamarine;
}

.board {
  width: 800px;
  height: 700px; /* debug */
  /* debug */
}

.cell {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#difficolta {
  width: 100px;
  background-color: gainsboro;
}
